*{
    
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
 height: 5rem;
 background-color: rgb(180, 123, 17);
 display: flex;
 align-items: center;
 

}

.toolbox-cont>*{
    margin-left: 4rem;
    border-radius:3px;
}

.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color:coral;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont
{
    height: 3.5rem;
    width: 7rem;
    background-color: crimson;
    display: flex;
}

.action-btn-cont>*{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
}

.color{
    height: 1.5rem;
    width: 3rem;
   
}

.lightpink{
    background-color: lightpink;
    border-radius:3px;
}

.lightgreen{
    background-color: lightgreen;
    border-radius:3px;
}

.lightblue{
    background-color: lightblue;
    border-radius:3px;
}

.black{
    background-color: black;
    border-radius:3px;
}

